.barraSuperior {
	-fx-background-color: #002D40; 
}

.sideBar {
	-fx-background-color: white; 
}

.botaoImagem {
	-fx-background-color: #4682B4;
	-fx-text-fill: white;
	-fx-font-size: 12;
	-jfx-button-type: raised;
}

.lugarTextoEImagemOriginal {
	-fx-focus-color: transparent;
	-fx-background-color: white;
}

.fundo {
	-fx-background-color: #C3C3C3;
}

.botoes {
	-fx-background-color: #002D40; 
	-fx-text-fill: white;
	-fx-font-size: 12;
}

